@use "../utils/mixins.scss";
@use "../utils/_variable.scss";
@use "../utils/_colors.scss";

.fonction {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  counter-reset: steps;
  margin-bottom: 2rem;
  & ol {
    margin: 0;
    padding: 5px;
    display: flex;
    gap: 2rem;
    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }
  & li {
    background-color: #f6f6f6;
    padding: 1.5rem 2rem;
    flex-grow: 1;
    border-radius: 1rem;
    list-style-type: none;
    position: relative;
    @include mixins.base-shadow;
    &:hover {
      @include mixins.transform-zoom;
    }
    i.fa-solid {
      margin-right: 1rem;
      color: colors.$lightgrey;
      font-size: 1.5rem;
    }
    &::before {
      counter-increment: steps;
      content: counter(steps);
      color: white;
      background-color: colors.$purple;
      width: 2 * variable.$base-height;
      height: 2 * variable.$base-height;
      border-radius: 50%;
      display: grid;
      place-items: center;
      position: absolute;
      top: 50%;
      left: -1 * variable.$base-height;
      transform: translateY(-50%);
    }
  }
}
